.login-form{
    width: 70%;
    height: 70%;
    max-height: 1000px;
    max-width: 1000px;
    padding: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    background: #191919;
    transition: 1s;
    
}

.login-header{
    color: #ffffff;
    margin: 10px; 
}

.login-input,.password-input,.log-button{
    border: 0;
    background: none;
    display: block;
    margin: 20px auto;
    text-align: center;
    border: 2px solid #3489db;
    
    width: 30%;
    height: 10%;
    outline: none;
    color: #fff;
    border-radius: 100px;
    transition: .7s;
}

.log-button {
    cursor: pointer;
	transition: .1s;
    max-width: 200px;
}

.log-button:focus, .log-button:hover {
	transition-delay: 0s;
    border: 2px solid #cedb34;
    background-color: #cedb34;
    color: #000;
}

.reg-label {
	color: #fff;
    margin-top: 20px;
}

.reg-link {
    text-decoration: none;
    color: #3489db;
    transition: .2s;
    outline: none;
    cursor: pointer;
}

.reg-link:focus, .reg-link:hover {
    text-decoration: none;
    color:#cedb34;
}

.bad-login{
    color: red;
}


.login-input:focus, .password-input:focus, .login-input:hover, .password-input:hover  {
	width: 50%;
    border-color: #cedb34;
    transition-delay: .1s;
    
}

@media only screen   
and (max-device-width : 1024px) {
        .log-button {
            max-width: 30%;
            height: 10%;
            font-size: 40px;
        }
        .login-input,.password-input{
            max-width: 50%;
            height: 10%;
            font-size: 40px;
            width: 100%;
        }
    
        .login-input:focus, .password-input:focus, .login-input:hover, .password-input:hover  {
            width: 80%;
            max-width: 80%;

        }
    
}