body{
    margin: 0;
    padding: 0;
    font-family:'Montserrat', sans-serif;
    background-color: #222222;
}

html, button{
    color: #fff;
    font-family:'Montserrat', sans-serif;
    font-weight: 300;
    font-size: 20px;
}

button{
    background-color: #000;
    border: none;
    outline: none;
    cursor: pointer;
}

input, textarea{
    font-size: 20px;
}


@media only screen and (max-width: 1024px) {
    html{
        font-size: 40px; 
    }
    
    input, textarea {
        font-size: calc(30px + (18 - 14) * ( (100vw - 480px) / ( 1024 - 480) ));
    }
}